/**
 * Note: ported over from old map.css could use some love
 */

 #left_column {
     width: 35%;
     float:left;
 }

 #right_column {
     width: 65%;
     float: right;
 }

 /*
  * Map styles
  */

 .boundary {
     fill: none;
     stroke: #777;
 }

 .area{
     fill: #C0C0C0;
     stroke: none;
     cursor: pointer;
 }

 .area:hover,
 .area.selected {
     opacity: 0.8;
 }

 .area.party-labour { fill: #D50000 }
 .area.party-conservatives { fill: #0087DC; }
 .area.party-liberal-democrats { fill: #FDBB30; }
 .area.party-green-party { fill: #75A92D; }
 .area.party-ukip { fill: purple; }
 .area.party-scottish-national-party { fill: #000000; }
 .area.party-scottish-green-party { fill: #00B543; }
 .area.party-plaid-cymru { fill: #3E8424; }


 #data_table {
     /* 806px (map height) - 100px (margin-top) = 706px */
     height: 706px;
     overflow: scroll;
     margin-top: 100px;
 }

// Shouldn't be here
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
